{
  "parser": "babel-eslint",
  "plugins": [ "react" ],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-unused-vars": 1,
    "react/jsx-uses-vars": 1,
    "no-var": 2,
    "new-cap": 0,
    "quotes": [1, "single", "avoid-escape"],
    "semi": 1
  }
}
